[submodule "01-hello-world-react-problem"]
	path = 01-hello-world-react-problem
	url = https://github.com/anirudha-8/01-hello-world-react-problem.git
[submodule "02-counter-application-react-problem"]
	path = 02-counter-application-react-problem
	url = https://github.com/anirudha-8/02-counter-application-react-problem.git
[submodule "03-show-user-input-react-problem"]
	path = 03-show-user-input-react-problem
	url = https://github.com/anirudha-8/03-show-user-input-react-problem.git
[submodule "04-show-list-of-items-react-problem"]
	path = 04-show-list-of-items-react-problem
	url = https://github.com/anirudha-8/04-show-list-of-items-react-problem.git
[submodule "05-toggle-switch-react-problem"]
	path = 05-toggle-switch-react-problem
	url = https://github.com/anirudha-8/05-toggle-switch-react-problem.git
[submodule "06-fetch-api-data-react-problem"]
	path = 06-fetch-api-data-react-problem
	url = https://github.com/anirudha-8/06-fetch-api-data-react-problem.git
[submodule "07-countdown-timer-react-problem"]
	path = 07-countdown-timer-react-problem
	url = https://github.com/anirudha-8/07-countdown-timer-react-problem.git
[submodule "08-simple-todo-app-react-problem"]
	path = 08-simple-todo-app-react-problem
	url = https://github.com/anirudha-8/08-simple-todo-app-react-problem.git
[submodule "09-change-background-react-problem"]
	path = 09-change-background-react-problem
	url = https://github.com/anirudha-8/09-change-background-react-problem.git
[submodule "10-basic-react-routing-react-problem"]
	path = 10-basic-react-routing-react-problem
	url = https://github.com/anirudha-8/10-basic-react-routing-react-problem.git
[submodule "11-random-quote-react-problem"]
	path = 11-random-quote-react-problem
	url = https://github.com/anirudha-8/11-random-quote-react-problem.git
[submodule "12-file-uploader-react-problem"]
	path = 12-file-uploader-react-problem
	url = https://github.com/anirudha-8/12-file-uploader-react-problem.git
[submodule "13-basic-authentication-form-react-problem"]
	path = 13-basic-authentication-form-react-problem
	url = https://github.com/anirudha-8/13-basic-authentication-form-react-problem.git
[submodule "14-simple-weather-app-react-problem"]
	path = 14-simple-weather-app-react-problem
	url = https://github.com/anirudha-8/14-simple-weather-app-react-problem.git
[submodule "15-simple-search-bar-react-problem"]
	path = 15-simple-search-bar-react-problem
	url = https://github.com/anirudha-8/15-simple-search-bar-react-problem.git
[submodule "16-simple-pagination-react-problem"]
	path = 16-simple-pagination-react-problem
	url = https://github.com/anirudha-8/16-simple-pagination-react-problem.git
[submodule "17-color-picker-react-problem"]
	path = 17-color-picker-react-problem
	url = https://github.com/anirudha-8/17-color-picker-react-problem.git
[submodule "18-responsive-navigation-menu-react-problem"]
	path = 18-responsive-navigation-menu-react-problem
	url = https://github.com/anirudha-8/18-responsive-navigation-menu-react-problem.git
